name: Build Windows Executable
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.9'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        
    - name: Build executable
      run: |
        pyinstaller --onefile --windowed --icon=favicon.ico main.py
        
    - name: Upload executable
      uses: actions/upload-artifact@v3
      with:
        name: police-academy-exe
        path: dist/
