name: Build Windows Executable

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:  # Allows manual triggering of the workflow

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'  # Adjust to match your Python version

    - name: Install dependencies
      run: |
        pip install pyinstaller PyQt5 python-docx docxtpl

    - name: Build executable
      run: |
        pyinstaller --onefile --windowed --icon=favicon.ico --add-data "elas.jpg;." --hidden-import=PyQt5.QtCore --hidden-import=PyQt5.QtGui --hidden-import=PyQt5.QtWidgets --hidden-import=docx --hidden-import=docxtpl main.py

    - name: Upload executable
      uses: actions/upload-artifact@v4
      with:
        name: Windows-Executable
        path: dist/main.exe
        retention-days: 5  # Keep artifacts for 5 days only
